assets
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
dist
.env
.vscode
.github
.env.example
.gitignore
.versionrc.json
build-docker.sh
CHANGELOG.md
docker-compose-example.yml
eslint.config.mjs
eslintrc.js
README.md

